<section class="template-plan">
    <div class="template-plan-info outset-neomo">
        <svg viewBox="0 0 2422 1188" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="build-item">
                <image id="image0_20763_14" data-name="build-item.jpg" width="2422" height="1188" xlink:href="assets/img/build-1.png"/>
                <a href="floor-plan.html">
                    <path id="floor-1" class="floor" data-floor-item="1" data-flats-all="15"  d="M189.5 841V834.5L1902.5 836H1917.5V839.5L1909 841L1910 1032.5L199 1037V841H189.5Z" stroke="black" stroke-width="5"/>
                </a>
                <a href="floor-plan.html">
                    <path id="floor-2" class="floor" data-floor-item="2" data-flats-all="14"  d="M1900 835.5H209V790H270V756.5L200.5 739.5V721H1909V740L1856 756.5V789.5H1900V835.5Z" stroke="black" stroke-width="5"/>
                </a>
                <a href="floor-plan.html">
                    <path id="floor-3" class="floor" data-floor-item="3" data-flats-all="16"  d="M200 720H1909V703.5L1919.5 699.5V695.5H1897.5V650H1854.5V628L1909 603.5V579.5H1175V603.5H821.5L793.5 579.5H200V598.5L271.5 627V649.5H208V695H189V702.5H198.5L200 704V720Z" stroke="black" stroke-width="5"/>
                </a>
                <a href="floor-plan.html">
                    <path id="floor-4" class="floor" data-floor-item="4" data-flats-all="13"  d="M200 566V578.5H793.5L821.5 602.5H1174V578.5H1909V560H1900V510H1855.5V499L1908.5 461V442.5H1177.5V423.5H820.5L808.5 408L796.5 392H200V462.5H263.5L267.5 524.5H209L210 554.5H188.5V558.5L200 566Z" stroke="black" stroke-width="5"/>
                </a>
                <a href="floor-plan.html">
                    <path id="floor-5" class="floor" data-floor-item="5" data-flats-all="17"  d="M1178.5 235.5V441.5H1908.5V426L1919.5 417.5V413.5H1900V371H1855.5V369.5L1909 319.5V235.5H1178.5Z" stroke="black" stroke-width="5"/>
                </a>
            </g>
        </svg>
    </div>
    <div class="outset-neomo build-info">
        <h2 class="build-info__title">Информация о доме</h2>
        <h4 class="build-info__number inset-neomo">Адрес <span id="build-value">вул. Незалежності 7</span></h4>
        <h4 class="build-info__stages inset-neomo">Номер этажа <span id="floor-item">5</span></h4>
        <h4 class="build-info__flat inset-neomo"> Всего квартир<span id="flats-all">15</span></h4>
        <h4 class="build-info__flat inset-neomo">Cвободных квартир<span id="flats-free">7</span></h4>
        <h4 class="build-info__flat inset-neomo">Акционных квартир<span id="flats-action">3</span></h4>
        <h4 class="build-info__flat inset-neomo">Забронированых квартир<span id="flats-booking">1</span></h4>
        <h4 class="build-info__flat inset-neomo">Проданных квартир<span id="flats-sold">7</span></h4>
      

    </div>
</section>
 